<div class="btn-group" style="margin-bottom:30px;">
  <%= search_form_for [:admin, @search], url: summary_admin_back_in_stock_notifications_path do |f| %>
    <div class="row">
      <div class="col-4">
        <div class="field">
          <%= label_tag :q_stock_location_id_eq, Spree::StockLocation.model_name.human %><br>
          <%= f.collection_select :stock_location_id_eq,
            @stock_locations,
            :id,
            :name,
            {include_blank: t("spree.match_choices.all")},
            {class: "custom-select fullwidth"}
          %>
        </div>
      </div>

      <div class="col-6">
        <div class="date-range-filter field">
          <%= label_tag :updated_at_gt, "Requested Date Range" %>
          <div class="date-range-fields input-group">
            <%= f.text_field :updated_at_gt,
              class: "datepicker form-control datepicker-from",
              value: params.dig(:q, :updated_at_gt),
              placeholder: t("spree.start")
            %>

            <span class="range-divider input-group-addon">
              <i class="fa fa-arrow-right"></i>
            </span>

            <%= f.text_field :updated_at_lt,
              class: "datepicker form-control datepicker-to",
              value: params.dig(:q, :updated_at_lt),
              placeholder: t("spree.stop")
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="actions filter-actions">
      <div data-hook="admin_promotions_index_search_buttons">
        <%= button_tag t("spree.filter_results"), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
